@media (max-width: 1024px) {
    #container {
        width: 90%;
        margin-left: 5%;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-scrolling: touch;
        -moz-overflow-scrolling: touch;
        overflow-scrolling: touch;
    }
    #name {
        font-size: 6vw;
    }
    #codepen {
        font-size: 2.75vw;
    }
    .item-group-header {
        font-size: 5vw;
    }
    .item,
    a {
        height: 2em;
        line-height: 2em;
        font-size: 3.5vw;
        font-weight: 700;
    }
    .item-column {
        width: 100%;
    }
}